.layout {
  margin: 0 auto;
  background: #7f7fd5; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #b0c4de,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
